# Estudo de dados com Ydata Profiling

In [4]:
import pandas as pd
from ydata_profiling import ProfileReport

url = "C:/workspace/Desafio Grão Direto IA/transações-desafio.xlsx"

transacoes_dados = pd.read_excel(url)
transacoes_dados

,Date,Time,Company,Seller ID,Buyer ID,Price,Amount,Product,origin_city,origin_state
0,2024-11-04,14:21:17,Polaris,100000060,200000027,124.447569,2290.909287,Soja,Porto Velho,RO
1,2024-11-04,12:11:56,Polaris,100002271,200000180,119.524125,2092.071936,Soja,Uberlândia,MG
2,2024-11-04,12:20:33,Polaris,100002332,200000199,121.641336,25427.175976,Soja,Terra Nova do Norte,MT
3,2024-11-04,11:32:09,Lunarix,100002035,200000020,119.025800,5074.951735,Soja,Barcarena,PA
4,2024-11-04,15:16:05,Polaris,100002339,200000208,114.041989,9691.241875,Soja,Tasso Fragoso,MA
...,...,...,...,...,...,...,...,...,...,...
9508,2024-01-03,12:15:56,Lunarix,100000094,200000011,107.246483,2009.361816,Soja,Porto Velho,RO
9509,2024-01-03,13:26:05,Lunarix,100000314,200000009,112.163921,962.326195,Soja,Boa Vista,RR
9510,2024-01-03,11:37:41,Polaris,100000865,200000027,137.791300,107351.263706,Soja,Rondonópolis,MT
9511,2024-01-03,14:24:58,Polaris,100000866,200000133,127.947271,1353.466033,Soja,Rondonópolis,MT
9512,2024-01-02,13:11:05,Polaris,100000864,200000001,135.227337,936.856515,Soja,Uberlândia,MG